{% extends "components/base.html" %}

{% block title %}Home{% endblock title %}
{% load django_app_filters_and_tags %}
{% load static %}

{% block main %}
<style>
  .custom-color {
    background-color: #ff7300; 
    color: #ffffff; 
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    padding: 10px;
  }

  .card-header {
    background-color: #f8f9fa;
  }

  .btn-outline-primary {
    border-color: #ff7300;
    color: #ff7300;
  }

  .btn-outline-primary:hover {
    background-color: #ff7300;
    color: #ffffff;
  }

  .card img {
    height: 250px;
    object-fit: cover;
  }

  @media (max-width: 576px) {
    .pricing-header {
      padding: 1rem;
    }

    .card {
      margin-bottom: 1rem;
    }
  }

  .responsive-logo {
    width: 100%;
    height: auto;
    max-width: 250px; 
  }
  
</style>


<!-- Заголовок VIP-товаров -->
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">VIP-товары</h1>
  <p class="fs-5 text-body-secondary">Самые лучшие в категориях:</p>
</div>

<!-- Карусель VIP-товаров (3 товара на слайд для больших экранов) -->
{% if vips|length > 3 %}
  <div id="vipCarouselLarge" class="carousel slide d-none d-lg-block" data-bs-ride="carousel">
    <!-- Индикаторы -->
    <div class="carousel-indicators">
      {% for chunk in vips|chunked:3 %}
        <button type="button" data-bs-target="#vipCarouselLarge" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Слайд {{ forloop.counter }}"></button>
      {% endfor %}
    </div>

    <!-- Карусельные слайды -->
    <div class="carousel-inner">
      {% for chunk in vips|chunked:3 %}
        <div class="carousel-item {% if forloop.first %}active{% endif %} animate__animated animate__fadeIn">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-3 text-center justify-content-center">
            {% for v in chunk %}
              <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm animate__animated animate__pulse animate__slow">
                  <div class="overflow-hidden">
                    <img class="img-fluid" src="{{ v.article.get_image_url }}" alt="{{ v.name }}">
                  </div>
                  <div class="card-header py-3">
                    <h4 class="my-0 fw-normal animate__animated animate__fadeInDown">{{ v.article.title }}</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title animate__animated animate__zoomIn">
                      {% if v.article.discounted_price %}
                        {% digit_beautify v.article.discounted_price as formatted_discounted_price %}
                        {{ formatted_discounted_price }} <small class="text-body-secondary fw-light">₸</small>
                      {% else %}
                        {% digit_beautify v.article.price as formatted_price %}
                        {{ formatted_price }} <small class="text-body-secondary fw-light">₸</small>
                      {% endif %}
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4 animate__animated animate__fadeInUp">
                      <li>{{ v.article.description|custom_cut:50 }}</li>
                    </ul>
                    <a href="{% url 'product_detail' v.article.id %}" class="w-100 btn btn-lg btn-outline-primary animate__animated animate__bounceIn">Детали</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Контролы карусели с анимацией -->
    <button class="carousel-control-prev animate__animated animate__fadeInLeft" type="button" data-bs-target="#vipCarouselLarge" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next animate__animated animate__fadeInRight" type="button" data-bs-target="#vipCarouselLarge" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Следующий</span>
    </button>
  </div>

  <!-- Карусель VIP-товаров для мобильных устройств (1 товар на слайд) -->
  <div id="vipCarouselSmall" class="carousel slide d-block d-lg-none" data-bs-ride="carousel">
    <!-- Индикаторы -->
    <div class="carousel-indicators">
      {% for v in vips %}
        <button type="button" data-bs-target="#vipCarouselSmall" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Слайд {{ forloop.counter }}"></button>
      {% endfor %}
    </div>

    <!-- Карусельные слайды -->
    <div class="carousel-inner">
      {% for v in vips %}
        <div class="carousel-item {% if forloop.first %}active{% endif %} animate__animated animate__zoomIn">
          <div class="row">
            <div class="col-12 text-center">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div>
                  <img class="img-fluid" src="{{ v.article.get_image_url }}" alt="{{ v.name }}">
                </div>
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal animate__animated animate__fadeInDown">{{ v.article.title }}</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title animate__animated animate__lightSpeedInLeft">
                    {% if v.article.discounted_price %}
                      {% digit_beautify v.article.discounted_price as formatted_discounted_price %}
                      {{ formatted_discounted_price }} <small class="text-body-secondary fw-light">₸</small>
                    {% else %}
                      {% digit_beautify v.article.price as formatted_price %}
                      {{ formatted_price }} <small class="text-body-secondary fw-light">₸</small>
                    {% endif %}
                  </h1>
                  <ul class="list-unstyled mt-3 mb-4 animate__animated animate__fadeInUp">
                    <li>{{ v.article.description|custom_cut:50 }}</li>
                  </ul>
                  <a href="{% url 'product_detail' v.article.id %}" class="w-100 btn btn-lg btn-outline-primary animate__animated animate__flipInX">Детали</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
     <!-- Контролы карусели -->
    <button class="carousel-control-prev" type="button" data-bs-target="#vipCarouselSmall" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#vipCarouselSmall" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Следующий</span>
    </button>
  </div>
{% else %}
  <!-- Отображение товаров без карусели -->
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-3 text-center justify-content-center">
    {% for v in vips %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div>
            <img class="img-fluid" src="{{ v.article.get_image_url }}" alt="{{ v.name }}">
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ v.article.title }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              {% if v.article.discounted_price %}
                {% digit_beautify v.article.discounted_price as formatted_discounted_price %}
                {{ formatted_discounted_price }}
                <small class="text-body-secondary fw-light">₸</small>
              {% else %}
                {% digit_beautify v.article.price as formatted_price %}
                {{ formatted_price }}
                <small class="text-body-secondary fw-light">₸</small>
              {% endif %}
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{ v.article.description|custom_cut:50 }}</li>
            </ul>
            <a href="{% url 'product_detail' v.article.id %}" type="button" class="w-100 btn btn-lg btn-outline-primary">Детали</a>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col">
        <h2>Будьте первыми в VIP</h2>
      </div>
    {% endfor %}
  </div>
{% endif %}


<hr />

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-12 col-sm-8 col-lg-6">
      <div class="card mb-4">
        <div class="card-body d-flex flex-column align-items-center">
          <h5 class="card-title text-center">Найдите то, что вам нужно!</h5>
          <p class="card-text text-center">Воспользуйтесь нашим удобным поиском, чтобы найти нужный товар.</p>
          <a href="#search-form" class="btn btn-outline-primary border-2 rounded-pill px-4 py-2 w-75" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
            <i class="fas fa-search me-2"></i> Перейти к поиску
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 display-5 fw-bold text-body-emphasis lh-1 mb-3">
      {% include "components/logo.html" %}
      <p class="lead">
        Приветствуем вас в ElectroHub! Мы - команда энтузиастов, которые обожают электронику и гаджеты так же, как и вы.  
        У нас вы найдете не просто широкий ассортимент, а тщательно отобранные товары, которые сделают вашу жизнь проще, комфортнее и интереснее. 
        Мы всегда рады помочь с выбором и ответить на ваши вопросы. 
      </p>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var vipCarouselLargeElement = document.getElementById('vipCarouselLarge');
    if (vipCarouselLargeElement) {
      var vipCarouselLarge = new bootstrap.Carousel(vipCarouselLargeElement, {
        interval: 3500, 
        ride: 'carousel',
        wrap: true,
        pause: 'hover'
      });
    }

    var vipCarouselSmallElement = document.getElementById('vipCarouselSmall');
    if (vipCarouselSmallElement) {
      var vipCarouselSmall = new bootstrap.Carousel(vipCarouselSmallElement, {
        interval: 3500, 
        ride: 'carousel',
        wrap: true,
        pause: 'hover'
      });
    }
  });
  document.querySelectorAll('a[href^="#search-form"]').forEach(anchor => {
  anchor.addEventListener('click', function (e) {
    e.preventDefault();

    document.querySelector(this.getAttribute('href')).scrollIntoView({
      behavior: 'smooth'
    });
    setTimeout(() => {
      document.querySelector('#search-form input[type="search"]').focus();
    }, 500);
  });
});
</script>
{% endblock main %}
