{% extends "components/base.html" %}
{% load django_app_filters_and_tags %}
{% load static %}

{% block main %}
  <div class="container mt-5">
    <h2>Подтверждение заказа</h2>

    <div class="alert alert-success" role="alert">
      <p>Спасибо за ваш заказ! Ваша покупка подтверждена.</p>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        Подробности заказа
      </div>
      <div class="card-body">
        <p><strong>Номер заказа:</strong> {{ order.id }}</p>
        <p><strong>Дата заказа:</strong> {{ order.date_created|date:"F d, Y H:i" }}</p>
        <p><strong>Статус заказа:</strong> {{ order.status }}</p>
        <p><strong>Покупатель:</strong> {{ order.user.get_full_name }}</p>
        <p><strong>Контактная информация:</strong></p>
        <ul>
          <li>Фамилия: {{ order.user.last_name }}</li>
          <li>Имя: {{ order.user.first_name }}</li>
          <li>Номер телефона: {{ order.user.profile.phonenumber }}</li>
          <li>Адресс доставки: {{ order.user.profile.address }}</li>
        </ul>
        <p><strong>Информция о товаре:</strong></p>
        <table class="table">
          <thead>
            <tr>
              <th>Товар</th>
              <th>Колличество</th>
              <th>Цена за единицу товара</th>
              <th>Цена товара</th>
            </tr>
          </thead>
          <tbody>
            {% for order_item in order.order_items.all %}
              <tr>
                <td>{{ order_item.item.title }}</td>
                <td class="text-center">{{ order_item.quantity }} шт</td>
                <td class="text-center">
                  {{ order_item.item.discounted_price|default:order_item.item.price }}
                  <i class="fa-solid fa-tenge-sign" data-toggle="tooltip" data-placement="top" title="Kazakhstani Tenge"></i>
                </td>
                <td class="text-center">{{ order_item.calculate_item_total }} <i class="fa-solid fa-tenge-sign"></i></td>
              </tr>
            {% endfor %}
            <tr>
              <td colspan="3" class="text-right"><strong>Общая цена всех товаров:</strong></td>
              <td class="text-center">{{ order.get_total_price }} <i class="fa-solid fa-tenge-sign"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });
    </script>
    
  </div>
{% endblock %}
