<div class="container mt-4">
  <nav aria-label="Навигация по страницам пользователей">
    <ul class="pagination justify-content-center">
      
      {% if reviews.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?q={{ search_query }}&page=1" aria-label="Первая">
            <span aria-hidden="true">&laquo;&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?q={{ search_query }}&page={{ reviews.previous_page_number }}" aria-label="Предыдущая">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-label="Первая">
            <span aria-hidden="true">&laquo;&laquo;</span>
          </span>
        </li>
        <li class="page-item disabled">
          <span class="page-link" aria-label="Предыдущая">
            <span aria-hidden="true">&laquo;</span>
          </span>
        </li>
      {% endif %}

      {% for num in reviews.paginator.page_range %}
        {% if num == reviews.number %}
          <li class="page-item active">
            <span class="page-link">{{ num }}</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?q={{ search_query }}&page={{ num }}">{{ num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if reviews.has_next %}
        <li class="page-item">
          <a class="page-link" href="?q={{ search_query }}&page={{ reviews.next_page_number }}" aria-label="Следующая">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?q={{ search_query }}&page={{ reviews.paginator.num_pages }}" aria-label="Последняя">
            <span aria-hidden="true">&raquo;&raquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-label="Следующая">
            <span aria-hidden="true">&raquo;</span>
          </span>
        </li>
        <li class="page-item disabled">
          <span class="page-link" aria-label="Последняя">
            <span aria-hidden="true">&raquo;&raquo;</span>
          </span>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
